body{
  font-family: "montserrat",sans-serif;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
nav{
  height: 80px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
/* nav h2{
  line-height: 82px;
  float: left;
  text-transform: uppercase;
  margin-left: 30px;
} */
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a{
  position: relative;
  color: white;
  font-size: 18px;
  padding: 5px 0;
  text-transform: uppercase;
}
nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 944px) {
  nav ul li a {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}
.ppicture {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}
.content-tr {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:  "montserrat",sans-serif;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.border{
  width: 400px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}
.content-eng {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family:  "montserrat",sans-serif;
  color: white;
  margin-bottom: 40px;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1.5em;
}
.sm a{
  margin: 0 20px;
  width: 80px;
  height: 80px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 24px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.15),
              -6px -6px 12px rgba(255,255,255,.1);
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
  margin-bottom: 50px;
}
.sm a:hover{
  transform: scale(1.3);
  border-radius: 50%;
}
.sm a i::before{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background .5s linear;
}
.sm a:hover i::before{
  background-position: 0% 0%;
}
.fa-facebook-f::before{
  background-image: linear-gradient(135deg,#3b5998 30%,#34495e 50%);
}
.fa-spotify::before{
  background-image: linear-gradient(135deg,#1DB954 30%,#34495e 50%);
}
.fa-film::before{
  background-image: linear-gradient(135deg,#000 30%,#34495e 50%);
}
.fa-youtube::before{
  background-image: linear-gradient(135deg,#d71e18 30%,#34495e 50%);
}
.fa-github::before{
  background-image: linear-gradient(135deg,#171515 30%,#34495e 50%);
}
.fa-steam::before{
  background-image: linear-gradient(135deg,#00ADEE 30%,#34495e 50%);
}
